In [1]:
import pandas as pd

In [3]:
df_units=pd.read_csv(r'C:\Users\hrithiks\Downloads\CAR_CRASH_ANALYSIS\Data\Units_use.csv')

C:\Users\hrithiks\AppData\Local\Temp\ipykernel_13236\136808662.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_units=pd.read_csv(r'C:\Users\hrithiks\Downloads\CAR_CRASH_ANALYSIS\Data\Units_use.csv')

In [4]:
df_units

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14768622,1,MOTOR VEHICLE,N,N,TX,4S2CK57D1X4381118,1999.0,GRY,ISUZU,...,NaN,EAST,Y,0,0,0,1,0,0,0
1,14838637,1,MOTOR VEHICLE,N,N,TX,WVWAN7AN6DE536582,NaN,GRY,VOLKSWAGEN,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
2,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
3,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
4,14838637,3,TOWED/TRAILER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOT APPLICABLE,N,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173494,15700059,2,MOTOR VEHICLE,N,N,TX,5N1AA08C87N702589,2007.0,MAR,NISSAN,...,NaN,EAST,Y,0,0,0,2,0,0,0
173495,15700059,3,MOTOR VEHICLE,N,N,TX,1VWAH7A36CC098773,NaN,WHI,VOLKSWAGEN,...,NaN,EAST,N,0,0,0,1,0,0,0
173496,15700064,1,MOTOR VEHICLE,N,N,TX,1N4AL2AP4CC126891,NaN,SIL,NISSAN,...,OTHER (EXPLAIN IN NARRATIVE),EAST,Y,0,0,0,1,0,0,0
173497,15700064,2,MOTOR VEHICLE,N,N,TX,1GNDS13S222490793,2002.0,GLD,CHEVROLET,...,NaN,EAST,Y,0,0,0,1,0,0,0
173498,15712435,1,MOTOR VEHICLE,N,Y,TX,1ZWFT603825603338,2002.0,BLK,MERCURY,...,NaN,SOUTHWEST,Y,0,0,0,1,0,0,0

In [7]:
df_units['UNIT_DESC_ID'].value_counts()

MOTOR VEHICLE                    167456
TOWED/TRAILER                      4965
PEDESTRIAN                          520
NON-CONTACT                         302
PEDALCYCLIST                        164
TRAIN                                46
OTHER  (EXPLAIN IN NARRATIVE)        38
MOTORIZED CONVEYANCE                  8
Name: UNIT_DESC_ID, dtype: int64

In [8]:
df_units['VEH_PARKED_FL'].value_counts() #vehicle parked or not

N    161167
Y      6596
Name: VEH_PARKED_FL, dtype: int64

In [9]:
df_units['VEH_HNR_FL'].value_counts() #hit and run

N    162792
Y      4971
Name: VEH_HNR_FL, dtype: int64

In [10]:
df_units['VEH_LIC_STATE_ID'].value_counts()

TX    156997
UN      1791
OK       970
LA       782
NM       731
IN       544
MX       493
CA       482
FL       416
IL       370
AR       350
TN       304
MS       244
AZ       236
KS       186
MO       177
GA       177
CO       175
NC       159
AL       145
OH       127
MI       122
MN       113
98       109
WI       101
VA        98
NE        88
WA        85
IA        79
UT        75
OR        71
PA        70
SC        63
CD        57
NY        50
KY        45
NV        41
MD        40
NJ        34
MT        31
ID        28
ND        26
CT        21
SD        20
WY        19
AK        16
MA        11
WV        10
AS        10
NH         8
ME         7
US         7
RI         6
VT         5
HI         5
DE         4
DS         2
DC         1
Name: VEH_LIC_STATE_ID, dtype: int64

In [12]:
df_units['VEH_MOD_YEAR'].value_counts()

2007.0    13381
2006.0    11610
2005.0    10946
2004.0     9880
2003.0     9084
          ...
1919.0        1
1951.0        1
1940.0        1
1958.0        1
1933.0        1
Name: VEH_MOD_YEAR, Length: 62, dtype: int64

In [13]:
df_units['VEH_COLOR_ID'].value_counts()

WHI    38354
BLK    27749
SIL    20777
GRY    18174
BLU    15471
RED    14095
GRN     6767
MAR     6010
TAN     4846
GLD     4062
BRO     2531
99      2330
BGE     2200
YEL     1283
MUL      966
ONG      816
PLE      393
BRZ      154
98       149
TEA       86
TRQ       43
PNK       27
CPR       18
CAM        5
Name: VEH_COLOR_ID, dtype: int64

In [14]:
df_units['VEH_MAKE_ID'].value_counts()

FORD                             29792
CHEVROLET                        28073
TOYOTA                           16487
DODGE                            13091
NISSAN                           10964
                                 ...
FEDERAL MOTORS                       1
ULTRA LITE MFG                       1
VESPA                                1
MIDLAND MANUFACTURING LIMITED        1
ASTON MARTIN                         1
Name: VEH_MAKE_ID, Length: 157, dtype: int64

In [15]:
df_units['VEH_MOD_ID'].value_counts()

UNKNOWN          10348
F150              8612
SILVERADO         4665
ACCORD            4156
CAMRY             4073
                 ...
SALON                1
ELITE                1
LS 600H L            1
SILVER SERIES        1
CUTLASS GLS          1
Name: VEH_MOD_ID, Length: 991, dtype: int64

In [16]:
df_units['VEH_BODY_STYL_ID'].value_counts()

PASSENGER CAR, 4-DOOR                65559
PICKUP                               36799
SPORT UTILITY VEHICLE                33310
PASSENGER CAR, 2-DOOR                11033
TRUCK TRACTOR                         6532
VAN                                   5659
TRUCK                                 4534
UNKNOWN                               1631
MOTORCYCLE                             781
OTHER  (EXPLAIN IN NARRATIVE)          516
BUS                                    463
POLICE CAR/TRUCK                       399
YELLOW SCHOOL BUS                      279
FIRE TRUCK                             106
AMBULANCE                               87
FARM EQUIPMENT                          57
NEV-NEIGHBORHOOD ELECTRIC VEHICLE        6
POLICE MOTORCYCLE                        3
NOT REPORTED                             2
Name: VEH_BODY_STYL_ID, dtype: int64

In [ ]:
df_units['VEH_BODY_STYL_ID'].value_counts()

In [17]:
df_units['EMER_RESPNDR_FL'].value_counts() #to check if govt official is involved in accident

N    166865
Y       898
Name: EMER_RESPNDR_FL, dtype: int64

In [18]:
df_units['OWNR_ZIP'].value_counts()

78521         1066
79936          984
78046          779
77573          729
78045          726
              ...
79589            1
70598            1
30214            1
37218            1
77082-0000       1
Name: OWNR_ZIP, Length: 6367, dtype: int64

In [19]:
df_units['FIN_RESP_PROOF_ID'].value_counts()

1.0    121465
1       28539
2.0     11725
2        2554
3.0      1716
4.0       423
3         377
4         103
NR          2
Name: FIN_RESP_PROOF_ID, dtype: int64

In [20]:
df_units['FIN_RESP_TYPE_ID'].value_counts()

PROOF OF LIABILITY INSURANCE                114998
LIABILITY INSURANCE POLICY                   35484
CERTIFICATE OF SELF-INSURANCE                 1450
INSURANCE BINDER                               339
SURETY BOND                                     67
CERTIFICATE OF DEPOSIT WITH COMPTROLLER         20
CERTIFICATE OF DEPOSIT WITH COUNTY JUDGE        11
Name: FIN_RESP_TYPE_ID, dtype: int64

In [21]:
df_units['VEH_DMAG_AREA_1_ID'].value_counts()

FRONT END DAMAGE DISTRIBUTED IMPACT                39081
BACK END DAMAGE DISTRIBUTED IMPACT                 19665
FRONT END (LEFT) DAMAGE PARTIAL CONTACT            16123
FRONT END (RIGHT)  DAMAGE PARTIAL CONTACT          14718
FRONT END DAMAGE CONCENTRATED IMPACT                8946
LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT            8642
RIGHT FRONT QUARTER DAMAGE ANGULAR IMPACT           7936
BACK END (LEFT) DAMAGE PARTIAL CONTACT              5748
LEFT SIDE DAMAGE ANGULAR IMPACT                     5321
RIGHT SIDE DAMAGE ANGULAR IMPACT                    5255
LEFT BACK QUARTER DAMAGE ANGULAR IMPACT             5248
BACK END (RIGHT) DAMAGE PARTIAL CONTACT             5026
RIGHT BACK QUARTER DAMAGE ANGULAR IMPACT            4722
DISTRIBUTED LEFT SIDE DAMAGE PARALLEL IMPACT        4669
DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT       4438
BACK END DAMAGE CONCENTRATED IMPACT                 3973
LEFT SIDE AND TOP DAMAGE ROLLOVER EFFECTS           1648
RIGHT SIDE AND TOP DAMAGE ROLLOVER EFFECTS          1615
MOTORCYCLE, SCOOTER, MOPED, ETC. ONLY                373
UNDERCARRIAGE DAMAGE ONLY                            344
UNKNOWN                                              142
NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)      138
NOT APPLICABLE ( FARM TRACTOR, ETC.)                 138
TOP DAMAGE ONLY                                      138
INVALID VALUE                                        136
VEHICLE BURNED                                        91
Name: VEH_DMAG_AREA_1_ID, dtype: int64

In [22]:
df_units['VEH_DMAG_SCL_1_ID'].value_counts() # 1 being low and 7 being highest

DAMAGED 2            44914
DAMAGED 1 MINIMUM    39487
DAMAGED 3            38847
DAMAGED 4            20172
DAMAGED 5             9999
DAMAGED 6             4288
NO DAMAGE             3269
DAMAGED 7 HIGHEST     2967
INVALID VALUE           13
Name: VEH_DMAG_SCL_1_ID, dtype: int64

In [23]:
df_units['FORCE_DIR_1_ID'].value_counts()

12.0    50134
6.0     26486
1.0     14930
11.0    13806
3.0     10776
9.0      9866
2.0      5860
7.0      5524
10.0     5425
5.0      4707
8.0      3081
4.0      2768
95.0      107
Name: FORCE_DIR_1_ID, dtype: int64

In [24]:
df_units['VEH_DMAG_AREA_2_ID'].value_counts()

FRONT END DAMAGE DISTRIBUTED IMPACT                6942
BACK END DAMAGE DISTRIBUTED IMPACT                 2731
FRONT END (RIGHT)  DAMAGE PARTIAL CONTACT          2461
FRONT END (LEFT) DAMAGE PARTIAL CONTACT            2327
LEFT BACK QUARTER DAMAGE ANGULAR IMPACT            2319
RIGHT BACK QUARTER DAMAGE ANGULAR IMPACT           2170
RIGHT FRONT QUARTER DAMAGE ANGULAR IMPACT          2035
DISTRIBUTED LEFT SIDE DAMAGE PARALLEL IMPACT       1991
DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT      1979
LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT           1891
LEFT SIDE DAMAGE ANGULAR IMPACT                    1766
FRONT END DAMAGE CONCENTRATED IMPACT               1745
RIGHT SIDE DAMAGE ANGULAR IMPACT                   1674
LEFT SIDE AND TOP DAMAGE ROLLOVER EFFECTS          1211
RIGHT SIDE AND TOP DAMAGE ROLLOVER EFFECTS         1093
BACK END (LEFT) DAMAGE PARTIAL CONTACT             1019
BACK END (RIGHT) DAMAGE PARTIAL CONTACT            1012
UNDERCARRIAGE DAMAGE ONLY                           625
BACK END DAMAGE CONCENTRATED IMPACT                 557
TOP DAMAGE ONLY                                     296
VEHICLE BURNED                                      144
UNKNOWN                                              56
INVALID VALUE                                        43
MOTORCYCLE, SCOOTER, MOPED, ETC. ONLY                23
NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)      22
NOT APPLICABLE ( FARM TRACTOR, ETC.)                 22
Name: VEH_DMAG_AREA_2_ID, dtype: int64

In [25]:
df_units['VEH_DMAG_SCL_2_ID'].value_counts()

DAMAGED 2            11439
DAMAGED 1 MINIMUM     9638
DAMAGED 3             8341
DAMAGED 4             3761
DAMAGED 5             1928
NO DAMAGE             1173
DAMAGED 7 HIGHEST      939
DAMAGED 6              885
INVALID VALUE            6
Name: VEH_DMAG_SCL_2_ID, dtype: int64

In [26]:
df_units['FORCE_DIR_2_ID'].value_counts()

12.0    9146
3.0     3612
1.0     3534
9.0     3514
6.0     3346
11.0    2861
2.0     1607
5.0     1356
10.0    1355
7.0     1315
8.0      992
4.0      909
95.0      35
Name: FORCE_DIR_2_ID, dtype: int64

In [27]:
df_units['VEH_INVENTORIED_FL'].value_counts()

N    135360
Y     29931
Name: VEH_INVENTORIED_FL, dtype: int64

In [28]:
df_units['VEH_TRANSP_NAME'].value_counts() #towed by

DRIVER                                    12788
DRIVEN AWAY                                5346
NOT TOWED                                  4325
OWNER                                      3756
CONTRACT WRECKER                           3093
                                          ...
TEXSTAR WRECKER (361) 852-0202                1
ALMIGHTY TOWING SERVICE (361) 726-7380        1
ALLIANCE TOWING                               1
1500 N PRUETT                                 1
K&M WRECKER SERVICE                           1
Name: VEH_TRANSP_NAME, Length: 17816, dtype: int64

In [29]:
df_units['VEH_TRANSP_DEST'].value_counts()

DRIVEN AWAY                                 8999
NOT TOWED                                   3815
DRIVEN FROM SCENE                           3337
TRAFFIC                                     3149
1955 VILBIG, DALLAS, TEXAS                  1263
                                            ...
3920 BEAUMONT AVE., LIBERTY, TX 77575          1
291 US 290 ELGIN TX 78621                      1
MARKET ST                                      1
1305 DANVILLE CT,COLLEGE STATION,TX 7784       1
1700 BRITTMOORE RD. HOUSTON, TX. 77084         1
Name: VEH_TRANSP_DEST, Length: 31424, dtype: int64

In [30]:
df_units['CONTRIB_FACTR_1_ID'].value_counts()

NONE                                         84563
FAILED TO CONTROL SPEED                      23502
FAILED TO DRIVE IN SINGLE LANE                6423
DRIVER INATTENTION                            6093
UNSAFE SPEED                                  5763
                                             ...
PARKED AND FAILED TO SET BRAKES                 16
OPENED DOOR INTO TRAFFIC LANE                   13
HANDICAPPED DRIVER (EXPLAIN IN NARRATIVE)        8
FAILED TO STOP FOR SCHOOL BUS                    5
PARKED WITHOUT LIGHTS                            2
Name: CONTRIB_FACTR_1_ID, Length: 64, dtype: int64

In [31]:
df_units['CONTRIB_FACTR_2_ID'].value_counts()

DRIVER INATTENTION                 5339
FAILED TO CONTROL SPEED            3198
FAILED TO DRIVE IN SINGLE LANE     2147
UNDER INFLUENCE - ALCOHOL          1823
FAULTY EVASIVE ACTION              1686
                                   ...
PEDESTRIAN FTYROW TO VEHICLE          6
PARKED AND FAILED TO SET BRAKES       5
FAILED TO STOP FOR SCHOOL BUS         4
FIRE IN VEHICLE                       2
OPENED DOOR INTO TRAFFIC LANE         2
Name: CONTRIB_FACTR_2_ID, Length: 64, dtype: int64

In [32]:
df_units['CONTRIB_FACTR_P1_ID'].value_counts()

DRIVER INATTENTION                 7102
HAD BEEN DRINKING                  1418
FAILED TO CONTROL SPEED            1418
DISTRACTION IN VEHICLE             1086
UNDER INFLUENCE - ALCOHOL           999
                                   ...
LOAD NOT SECURED                      4
PARKED AND FAILED TO SET BRAKES       3
FAILED TO STOP FOR SCHOOL BUS         1
FIRE IN VEHICLE                       1
OPENED DOOR INTO TRAFFIC LANE         1
Name: CONTRIB_FACTR_P1_ID, Length: 63, dtype: int64

In [33]:
df_units['VEH_TRVL_DIR_ID'].value_counts()

NORTH             36960
SOUTH             35230
EAST              34043
WEST              32886
NORTHEAST          7087
SOUTHWEST          6876
SOUTHEAST          6749
NORTHWEST          6716
NOT APPLICABLE     5739
UNKNOWN            1213
Name: VEH_TRVL_DIR_ID, dtype: int64

In [34]:
df_units['FIRST_HARM_EVT_INV_ID'].value_counts()

Y    150552
N     22947
Name: FIRST_HARM_EVT_INV_ID, dtype: int64

In [35]:
df_units['INCAP_INJRY_CNT'].value_counts()

0    170528
1      2832
2       119
3        15
6         3
4         2
Name: INCAP_INJRY_CNT, dtype: int64

In [36]:
df_units['NONINCAP_INJRY_CNT'].value_counts()

0     160441
1      12073
2        743
3        167
4         47
5         22
6          4
7          1
10         1
Name: NONINCAP_INJRY_CNT, dtype: int64

In [37]:
df_units['POSS_INJRY_CNT'].value_counts()

0     152372
1      18693
2       1706
3        456
4        163
5         69
6         17
7         12
10         4
11         2
15         2
29         2
8          1
Name: POSS_INJRY_CNT, dtype: int64

In [38]:
df_units['NON_INJRY_CNT'].value_counts()

1     110615
0      46128
2      10341
3       3597
4       1724
5        611
6        201
7         84
8         22
9         15
11        12
14        12
13        11
10        10
21        10
26         8
12         8
29         8
32         8
17         7
25         6
28         6
42         5
23         4
16         4
36         4
41         4
18         4
31         4
40         4
37         3
45         2
33         2
73         2
46         2
63         2
22         2
53         2
43         2
35         2
27         1
Name: NON_INJRY_CNT, dtype: int64

In [39]:
df_units['UNKN_INJRY_CNT'].value_counts()

0    170352
1      2990
2       103
3        38
4        10
5         4
6         2
Name: UNKN_INJRY_CNT, dtype: int64

In [40]:
df_units['TOT_INJRY_CNT'].value_counts()

0     137056
1      32507
2       2757
3        738
4        267
5        118
6         27
7         14
11         4
10         4
15         2
31         2
8          2
9          1
Name: TOT_INJRY_CNT, dtype: int64

In [41]:
df_units['DEATH_CNT'].value_counts()

0    173210
1       268
2        19
4         1
3         1
Name: DEATH_CNT, dtype: int64

In [44]:
df_units['VEH_BODY_STYL_ID'].str.contains('MOTORCYCLE').sum()

784

In [47]:
df_units.head(20)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14768622,1,MOTOR VEHICLE,N,N,TX,4S2CK57D1X4381118,1999.0,GRY,ISUZU,...,NaN,EAST,Y,0,0,0,1,0,0,0
1,14838637,1,MOTOR VEHICLE,N,N,TX,WVWAN7AN6DE536582,NaN,GRY,VOLKSWAGEN,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
2,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
3,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
4,14838637,3,TOWED/TRAILER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOT APPLICABLE,N,0,0,0,0,0,0,0
5,14838641,1,MOTOR VEHICLE,N,N,TX,JHMFA15896S005043,2006.0,GRY,HONDA,...,NaN,NORTHWEST,Y,0,0,1,0,0,1,0
6,14838641,2,MOTOR VEHICLE,N,N,TX,1GNEC13R8YR146867,2000.0,BLK,CHEVROLET,...,NaN,SOUTHWEST,Y,0,1,0,0,0,1,0
7,14838668,1,MOTOR VEHICLE,N,N,TX,JM1BK32F791214223,NaN,BLK,MAZDA,...,NaN,NORTHWEST,Y,0,0,0,1,0,0,0
8,14838669,1,MOTOR VEHICLE,N,N,TX,1GCEC14X89Z178483,NaN,WHI,CHEVROLET,...,NaN,WEST,Y,0,0,0,1,0,0,0
9,14838669,2,MOTOR VEHICLE,N,N,TX,JM1BL1SF9A1147727,NaN,BLK,MAZDA,...,NaN,WEST,Y,0,0,0,1,0,0,0
10,14838670,1,MOTOR VEHICLE,N,N,TX,1J4GL58K53W701914,2003.0,SIL,JEEP,...,NaN,EAST,Y,0,0,0,1,0,0,0
11,14838670,2,MOTOR VEHICLE,Y,N,TX,JS2RA61S045207476,2004.0,GLD,SUZUKI,...,NaN,EAST,Y,0,0,0,0,0,0,0
12,14838670,3,MOTOR VEHICLE,Y,N,TX,1FTEW1CM3CFC20128,NaN,GRY,FORD,...,NaN,WEST,N,0,0,0,0,0,0,0
13,14838685,1,MOTOR VEHICLE,N,N,TX,1HGCG16522A035476,2002.0,RED,HONDA,...,NaN,SOUTHWEST,Y,0,0,0,1,0,0,0
14,14838693,1,MOTOR VEHICLE,N,N,TX,1GCJC33U24F229732,2004.0,WHI,CHEVROLET,...,DISABLED IN TRAFFIC LANE,NORTHWEST,Y,0,0,0,1,0,0,0
15,14838768,1,MOTOR VEHICLE,N,N,CA,2HNYD18814H543053,2004.0,SIL,ACURA,...,NaN,EAST,Y,0,0,1,1,0,1,0
16,14838768,2,MOTOR VEHICLE,N,N,TX,4T1BE46K97U049772,2007.0,SIL,TOYOTA,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
17,14838834,1,MOTOR VEHICLE,N,Y,TX,5TFJV52167X002099,2007.0,99,TOYOTA,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
18,14838834,2,MOTOR VEHICLE,Y,N,TX,1D8GU28K07W640397,2007.0,SIL,DODGE,...,NaN,EAST,Y,0,0,0,0,0,0,0
19,14838834,3,MOTOR VEHICLE,Y,N,TX,1MELM62W9SH630933,1995.0,GRN,MERCURY,...,NaN,EAST,N,0,0,0,0,0,0,0

In [50]:
df_units['TOT_CASUALTIES_CNT']=df_units['UNKN_INJRY_CNT']+df_units['TOT_INJRY_CNT']

In [51]:
df_units['TOT_CASUALTIES_CNT']

0         0
1         0
2         0
3         0
4         0
         ..
173494    0
173495    0
173496    0
173497    0
173498    0
Name: TOT_CASUALTIES_CNT, Length: 173499, dtype: int64

In [61]:
df_Tot_count=df_units.groupby(['VEH_MAKE_ID'])['TOT_CASUALTIES_CNT'].agg('sum').sort_values(ascending=False)

In [66]:
df_Tot_count.index[5:16]

Index(['HONDA', 'GMC', 'HYUNDAI', 'KIA', 'JEEP', 'CHRYSLER', 'MAZDA',
       'UNKNOWN', 'VOLKSWAGEN', 'PONTIAC', 'LEXUS'],
      dtype='object', name='VEH_MAKE_ID')